---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/blog">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="/rss.xml" target="_blank">
				<span class="sr-only">RSS Feed</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24">
					<path fill="currentColor" d="M2.7 2.6c7.3 0 13.2 5.9 13.2 13.2h-2.6c0-5.8-4.7-10.5-10.5-10.5v-2.7zm0 2.8c4.5 0 8.1 3.6 8.1 8.1h-2.6c0-3-2.4-5.4-5.4-5.4v-2.7zm0 2.8c1.6 0 2.9 1.3 2.9 2.9s-1.3 2.9-2.9 2.9-2.9-1.3-2.9-2.9 1.3-2.9 2.9-2.9z"/>
				</svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
